@import 'tailwindcss';

@theme {
  /* FONT */
  --font-wide: 'widescreen', sans-serif;
  --font-wide-ex: 'widescreen-ex', sans-serif;
  --font-wide-uex: 'widescreen-uex', sans-serif;
  --font-gotham: 'gotham', sans-serif;

  /* COLORI */
  --color-brand-dark: #363636;
  --color-brand-light: #e8e8e8;

  /* ANIMAZIONI */
  @keyframes scroll-x {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  --animate-infinite-scroll: scroll-x 20s linear infinite;

  /* BREAKPOINT */
  --breakpoint-3xl: 112.5rem;
  --breakpoint-4xl: 128.125rem;
}

@layer base {
  body {
    font-family: var(--font-gotham);
    background: #e8e8e8;
    color: #363636;
  }
}

@media (min-width: 768px) and (pointer: fine) {
  body,
  a,
  button,
  .cursor-pointer {
    cursor: none !important;
  }
}

/* CAROSELLO */
.swiper-button-next,
.swiper-button-prev {
  height: 7% !important;
  width: 5% !important;
  background: rgba(255, 255, 255, 0) !important;
  color: #e8e8e859 !important;
  transition: all 0.4s ease-in-out !important;
  backdrop-filter: blur(0px);
  z-index: 10;
}

.swiper-button-prev {
  left: 0 !important;
  justify-content: flex-start !important;
  padding: 7px 0 !important;
}

.swiper-button-next {
  right: 0 !important;
  justify-content: flex-end !important;
  padding: 7px 0 !important;
}

.group:hover .swiper-button-next,
.group:hover .swiper-button-prev {
  color: #e8e8e8 !important;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 10px !important;
  font-weight: bold;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
}

.swiper-pagination-bullet {
  background: #e8e8e8 !important;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background: #e8e8e8 !important;
  opacity: 1;
  width: 6px !important;
  border-radius: 5px !important;
}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
}